pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "testsynapse",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "return_value_notebook",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "Spark1",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseArtifacts1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "receivedValueFromNotebook",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "testsynapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "received_value",
					"value": {
						"value": "@activity('testsynapse').output.exitresult",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"received_value": {
				"type": "String"
			}
		},
		"annotations": []
	}
}