pipeline/RunNotebook.json
{
	"name": "RunNotebook",
	"properties": {
		"activities": [
			{
				"name": "returnvaluenotebook",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "return_result_value",
						"value": "@activity('returnvaluenotebook').output.result.syn_result"
					}
				],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "return_value_notebook",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"parameters": {
						"input_param": {
							"value": "ADF",
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "Spark1",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": true,
						"spark.dynamicAllocation.minExecutors": 3,
						"spark.dynamicAllocation.maxExecutors": 3
					},
					"driverSize": "Small",
					"numExecutors": 3
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseArtifacts1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "return_value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "returnvaluenotebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "",
					"value": {
						"value": "@activity('returnvaluenotebook').output.result.syn_result",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"return_value": {
				"type": "String"
			}
		},
		"annotations": []
	}
}